
body {
  background-color: #dee2e6;
  padding: 10px;

}

.navbar-dark {
  background-color: #0080A0;
}

.inForm {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}
.userPageList {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.card-header{
  background-color: #acacac;

}





