
body {
  background-color: #dee2e6; /*Hintergrundfarbe der Seite*/
  padding: 10px;
}
/*Hintergrundfarbe der Navigations Leiste*/
.navbar-dark {
   background-color: #0080A0;
 }
/*Hintergrundfarbe der Aufzaehlungen*/
.badge {
  background-color: #0080A0;
}
/*Button unter einstellungen.*/
.btn-setting {
  background-color: #0080A0;
  color: white;
}
.btn-setting:hover {
  color: #acacac;
}

.inForm {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}
.userPageList {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

/*Hintergrundfarbe der Accordeon*/
.card-header{
  background-color: #acacac;
}

.pwModal{
  padding: 30px;
  max-height: 350px;
  background-color: #dee2e6;
}
