
body {
  background-color: #dee2e6;
}

.navbar-dark {
  background-color: #0080A0;
}

.inForm {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}

.userPageList {
  margin: 50px auto;
  max-width: 800px;
  padding: 10px;
}

.card-header {
  background-color: #eaeaea;
  cursor: pointer;
}

.card-header .right {
  float: right;
}

.card-header:hover {
  background-color: #c4c4c4;
}

.pwModal{
  padding: 30px;
  max-height: 350px;
  background-color: #dee2e6;
}
